# Board selection
CONFIG_BOARD_AI_THINKER_ESP32_CAM=y

# Sensor selection
CONFIG_SENSOR_OV2640=y

# Status indicator
CONFIG_STATUS_INDICATOR_HAS_DISPLAY=n
CONFIG_STATUS_INDICATOR_LED_PIN=33
CONFIG_STATUS_INDICATOR_LED_ACTIVE_LOW=y

# PSRAM: 4 MB quad-SPI
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y

# Flash: 4 MB
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y