# Board selection
CONFIG_BOARD_OLIMEX_ESP32_POE=y

# Status indicator
CONFIG_STATUS_INDICATOR_HAS_DISPLAY=n
CONFIG_STATUS_INDICATOR_LED_PIN=-1
CONFIG_STATUS_INDICATOR_LED_ACTIVE_LOW=n

# No PSRAM on Olimex ESP32-POE
CONFIG_SPIRAM=n
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y